body {
    background-color: rgb(71, 68, 68);
    color: white;
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
} 

p {
    
    white-space: pre-wrap;
    text-align: left;
}

.boxes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
}

.fizzBox, .buzzBox, .fizz-buzzBox{
    background-color: red;
    width: 200px;
    height: 50px;
    
}

.fizzBox{
    background-color: green;
}

.buzzBox{
    background-color: blue;
}

.fizz-buzzBox{
    background-color: red;
}

button {
    align-self: center;
    width: 100px;
    border-radius: 5px;
    
}

button:hover{
    font-weight: 900;
    width: 110px;
    
}


.fizzbuzz {
    color: red;
}

.fizz {
    color: green;
}

.buzz {
    color: blue;
}
